body {
  zoom: 250%;
}

h1 {
	margin-left: 10%;
	margin-top: 5%;
	font-size: 0.8em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* continent color */
.eu
{
  	fill: #e2e2e2;
}

#dataset {
	display: none;
}
